<%- include('header') -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe reprehenderit nihil neque voluptatum ipsam rerum obcaecati in eum consequatur! Eos at repellendus corrupti amet odio labore maxime iure quos nostrum.</p>

<%- include('footer') -%>